certifi
chardet
click
dnspython
eventlet
Flask
greenlet
idna
itsdangerous
Jinja2
joblib
MarkupSafe
monotonic
numpy
pandas
python-dateutil
python-dotenv
python-engineio
pytz
requests
scikit-learn
scipy
six
sklearn
threadpoolctl
urllib3
Werkzeug
