<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Color Recommender</title>
    <link href="https://img.icons8.com/office/16/000000/rgb-circle-1.png" rel="icon" type="image/icon type">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.js" integrity="sha256-w7+V9/jcjUhs0pVV3uaphYQbXkTJZkd/3CfsinPRzvM=" crossorigin="anonymous"></script>
<!--    <script src="../static/sketch.js"></script>-->

</head>
<body>
<div class="alert alert-info" role="alert">
  Welcome to the Color Recommender, {{name}}.
</div>
<canvas style="position:absolute;left: 100px;top: 100px;border-style: none">
    <script  src="../static/sketch.js"></script>
</canvas>



















</body>
</html>